<div class="grid-container">
    <a href="/posts/Human_Activity_Recognization/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    Human Activity Recognition Using Smartphones
                </p>

                <img src="../../assets/images/Human_Recognization_Smartphones.jpg" width="400" alt="Human Activity Recognition Using Smartphones" title="Human Activity Recognition Using Smartphones">
            </div>
        </div>
    </a>


</div>