<div class="grid-container">
    <a href="/posts/Customer_analytics/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    Customer Personalised Pricing
                </p>

                <img src="../../assets/images/2.1/scalar-vector-matrix-tensor-1.png" width="400" alt="An example of a scalar, a vector, a matrix and a tensor" title="Difference between a scalar, a vector, a matrix and a tensor">
            </div>
        </div>
    </a>


</div>