<div class="grid-container">
    <a href="/posts/Churn_Analysis/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    Churn Analysis
                </p>

                <img src="../../assets/images/churn_analysis.jpg" width="400" alt="Churn Analysis" title="Churn Analysis">
            </div>
        </div>
    </a>


</div>

<div class="grid-container">
    <a href="/posts/Churn_Analysis/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    Marketing Attribution
                </p>

                <img src="../../assets/images/churn_analysis.jpg" width="400" alt="Marketing Attribution" title="Marketing Attribution">
            </div>
        </div>
    </a>


</div>